@font-face {
  font-family: 'GaMaamli-Regular';
  src: url('font\GaMaamli-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.card {
  width: 300px;
  height: 400px;
  background: #000;
  border-radius: 20px;
  border: 5px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 5px;
  transition: 0.2s ease-in-out;
}

.img {
  width: 100%;
  height: 100%;
  background-image: url('card.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  filter: blur(1px); 
  opacity: 1; 
  transition: 0.2s ease-in-out;
}

.textBox {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.textBox > .name {
  font-family: GaMaamli-Regular, sans-serif; 
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.textBox > .Bloodline,
.textBox > ._class,
.textBox > .profession {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


.textBox > .p {
  color: lightgray;
  text-align: justify;
}

.card:hover > .textBox {
  opacity: 1;
}

.card:hover > .img {
  filter: blur(16px); 
  opacity: 0.5; 
  animation: anim 3s infinite;
}

@keyframes anim {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-5px);
  }

  100% {
      transform: translateY(0);
  }
}

.card:hover {
  transform: scale(1.01) rotate(-0.3deg);
}
